In [1]:
import pandas as pandas

In [2]:
data = pandas.read_csv('studenti.csv', sep=',')

data.head(12)

          Week  Trends Count
0   2014-09-21            16
1   2014-09-28            15
2   2014-10-05            16
3   2014-10-12            16
4   2014-10-19            15
5   2014-10-26            16
6   2014-11-02            16
7   2014-11-09            16
8   2014-11-16            18
9   2014-11-23            15
10  2014-11-30            16
11  2014-12-07            15