In [5]:
import pandas as pandas

In [19]:
file = 'google-trends-data-science-5y.csv'

data = pandas.read_csv(file, sep=',')

print ("5 yeers agow...")

data.head(12)

5 yeers agow...

          Week  data science
0   2014-09-21            16
1   2014-09-28            15
2   2014-10-05            16
3   2014-10-12            16
4   2014-10-19            15
5   2014-10-26            16
6   2014-11-02            16
7   2014-11-09            16
8   2014-11-16            18
9   2014-11-23            15
10  2014-11-30            16
11  2014-12-07            15

In [17]:
print("But nau! Yaaaaaaay!")

data.tail(12)

But now! Yaaaaaaay!

           Week  data science
249  2019-06-30            74
250  2019-07-07            77
251  2019-07-14            81
252  2019-07-21            78
253  2019-07-28            77
254  2019-08-04            78
255  2019-08-11            79
256  2019-08-18            91
257  2019-08-25            88
258  2019-09-01            87
259  2019-09-08            90
260  2019-09-15           100

In [ ]:
series = data.groupby('Week')['Trends Count'].sum()